   
    <body style="background-color: white">
    <br>
      <a style="text-decoration:none" align="center"><h1><strong><em>TQ         Cafe</em></strong></h1></a>
        <h2>About Us:</h2>
      <p> Coffee is a well-known beverage that wakes us up in the morning or keeps us awake until late in the night. With a fantastic flavor and a bitter taste, this beverage has charmed the world, which is why it's no surprise that there are many, many coffee shops out there. To put yours on the map, you need to attract as many people as possible and the best way to do this is via online environments like social media.</p>
      <h2>How We Work:</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, praesentium quasi ipsa exercitationem totam voluptatum itaque! Consequuntur sed expedita numquam illum incidunt, ipsam nihil qui, dignissimos, fugiat facilis suscipit. Obcaecati.</p>    
      <h2>Opening:</h2>
        <p style="text-align:center;">Opening Hours for the Wake Up Cafe</p>
  
    <table style="width:100%">
    <tr>
      <th> </th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <th>Breakfast</th>
      <td align="center">7:00am-10:00am</td>
      <td align="center">7:00am-10:00am</td>
      <td align="center">7:00am-10:00am</td>
      <td align="center">7:00am-10:00am</td>
      <td align="center">7:00am-10:00am</td>
      <td align="center">8:00am-10:00am</td>
      <td align="center">8:30am-10:30am</td>
    </tr>
    <hr>
    <tr>
      <th>Lunch</th>
      <td align="center">11:30am-02:30pm</td>
      <td align="center">11:30am-02:30pm</td>
      <td align="center">11:30am-02:30pm</td>
      <td align="center">11:30am-02:30pm</td>
      <td align="center">11:30am-02:30pm</td>
      <td align="center">11:30am-03:30pm</td>
      <td align="center">12:00am-03:30pm</td>
    </tr>
  </table>
  <hr>
        <h2>Contact:</h2>
        <p>Chitkara University,Rajpura<br></p>
        <a href="https://www.google.com/maps/place/Chitkara+University/@30.5160911,76.6575891,17z/data=!3m1!4b1!4m5!3m4!1s0x390fc32344a6e2d7:0x81b346dee91799ca!8m2!3d30.5160865!4d76.6597778" target="_blank"> Find us on Google Map<br><br></a>
        <a href="tel:918198091174">phno. 8198091174</a>
      
    <h3>Privacy Policy</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, praesentium quasi ipsa exercitationem totam voluptatum itaque! Consequuntur sed expedita numquam illum incidunt, </p>
    
    </body>