.custom-sidebar {
  padding: 10px;
}

.add-component-container input {
  width: 100%;
  margin: 10px;
}

.add-component-container div {
  margin-top: 10px;
}
img
{
 
  border-radius: 2px;
  padding: 2px;
  width: 90px;
}
#tq
{
  text-align: center;
}