
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-togglable-md navbar-light bg-faded">
      <div class="collapse navbar-collapse">
        <ul class="nabar-nav mr-auto">
          <li class="nav-item active">
            <a href="#home" class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <img class="img1" src="assets/logo2.jpg">
    <h4>&nbsp;&nbsp;&nbsp;TQ!</h4>
    <br>
    <br>
    <br>
    <div class="custom-sidebar">
      <div *ngFor="let item of listItems">
        <a href="{{item.link}}" *ngIf="item.isNew!==true">{{item.name}}</a>
        <a href="{{item.link}}" target="blank" *ngIf="item.isNew===true">{{item.name}}</a>
      </div>
      <hr>
     
    </div>    
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>